@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply
    m-0
    antialiased
    font-sans
    min-h-screen
  }
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .clip-style {
    clip-path: polygon(75% 0,29% 0,49% 68%);
  }
}